.list-cell
{
    -fx-font: 20pt "Century Gothic";
}

.list-view, .split-pane { -fx-background-insets: 0; -fx-padding: 0; }

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #61b78a;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #3a434f;
    -fx-text-fill: white;
}

.notification-bar>.pane {
    -fx-background-color: #354149;
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 2, 3, 2;
}

.notification-bar>.pane .title {
    -fx-font-family: Roboto;
    -fx-font-size: 12px; /*16px;*/
    -fx-text-fill: #ffffff;
}

.notification-bar>.pane .label {
    -fx-font-family: Roboto;
    -fx-font-size: 18px; /*12px;*/
    -fx-text-fill: #ffffff;
    -fx-alignment: top-left;
}
